<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Processing data from Website</title>
</head>
<body>

<div class="container">

    {{ tem | safe}}

</div>
    
<!-- Code in views.py-->
<!--  Processing data from Website    Task 3-->

<!--URL = "https://standalone.kupferschluessel.de/content.php?werkstoff=01672&werkstoff2=06634&lang=german&sortgruppe=7808"-->

<!--def index(request):-->
<!--    r = requests.get(URL)-->
<!--    # print(r.content)-->
<!--    context = {'tem': r.content}-->
<!--    return render(request, "index2.html", context)-->
</body>
</html>
